.chat-container {
  //position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 30rem);
  height: 100vh;
  align-items: center;
  margin-left: 30rem;

  .chatHeader {
    margin-top: 2rem;
    display: flex;
    width: 95%;
    height: 4rem;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: #7d7d7d;
      font-family: Pretendard-Mideum;
    }

    .profile {
      width: 4rem;
      height: 4rem;
      background: #7d7d7d;
      border-radius: 50%;
    }
  }

  .chat {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 30rem);
    height: calc(100vh - 16rem);
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  form {
    position: absolute;
    bottom: 2rem;
    width: 76rem;
  }

  .qna-display {
    display: flex;
    gap: 2rem;
    transform: translateY(-2rem);

    .displayBtn {
      background: #fff;
      padding: 1rem 3rem;
      border: 1px solid #b6b6b6;
      border-radius: 2rem;
      box-shadow: #76767e 0px 0.5px 0px 0px;
      cursor: pointer;
      font-size: 1.4rem;
      font-family: Pretendard-SemiBold;

      &:active {
        transform: scale(1.05);
      }
    }
  }

  .grid {
    display: none;
  }
}
