.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* 어두운 투명 배경 */
  z-index: 1000; /* z-index로 다른 요소 위에 오도록 설정 */
  display: flex;
  justify-content: center;
  align-items: center; /* 중앙 정렬 */

  &.hide {
    display: none;
  }

  &.show {
    display: block;
  }
}
